/* здесь используйте глобальные переменные */
$base-color-text: #000000;
$secondary-color-text: #444444;
$tertiary-color-text: #ffffff;
$catalog-color-text: #222222;
$catalog-item-text: #111111;
$bg-green: #68b738;
$bg-green-darken: #5eaa2f;
$bg-green-lighter: rgba(104, 183, 56, 0.85);
$basic-grey: #f2f2f2;
$special-grey: #eaeaea;
$special-grey_2: #d9d9d9;
$special-grey_3:#cdcdcd;
$special-grey_4: #ebebeb;
$special-grey_5: #d3d3d3;
$special-grey_6: #e6e6e6;
$social-grey: #666666;
$gradient-first: #504f54;
$gradient-two: #444348;
$gradient-three: #403f45;
$error-color: #ff8282;


$font-primary: "Lato", "Aria", sans-serif;
$font-secondary: "Oswald", "Aria", sans-serif;

$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 24px;
$font-size-l: 36px;

$tablet-width: 768px;
$desktop-width: 1440px;
