.accent-line::before {
  content: "";
  position: absolute;
  top: 42%;
  height: 2px;
  width: 100vw;
  right: 0;
  background-color: $bg-green;
  box-shadow: 100vw 0 0 0 $bg-green;
  z-index: -1;
}
