.additional__title {
  margin-block: 24px 36px;
  position: relative;
  background-color: $tertiary-color-text;
  width: fit-content;
  box-shadow: -40px 0 0 0 $tertiary-color-text, 40px 0 0 0 $tertiary-color-text;

  @media (min-width: $tablet-width) {
    margin: 0 40px 79px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 79px;
  }
}

.additional__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 81px;
    margin-bottom: 18px;
  }
}

.additional__list {
  @include reset-list;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    border: 1px solid $special-grey_3;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    border: none;
    width: 896px;
  }
}

.additional__item {
  padding-block: 12px 18px;
  border-bottom: 1px solid $special-grey_3;

  @media (min-width: $tablet-width) {
    padding: 25px 38px 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 15px;
  }
}

.additional__item:first-child {
  border-top: 1px solid $special-grey_3;
}

.additional__name {
  line-height: 16px;
  margin: 0 0 13px;

  @media (min-width: $tablet-width) {
    line-height: 20px;
    margin-bottom: 25px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 326px;
    margin-bottom: 0;
  }
}

.additional__value {
  margin: 0;
  white-space: nowrap;
}

.additional__property {
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    line-height: 20px;
    gap: 54px;
    margin: 0;
    margin-bottom: 22px;
    width: 50%;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 285px;
    justify-content: space-between;
  }
}

.additional__button {
  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin-bottom: 0;
    margin-left: 40px;
  }
}
