.catalog__list {
  @include reset-list;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 66px;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 68px 80px;
    margin-bottom: 70px;
  }
}

.catalog__item {
  position: relative;
  font-family: $font-primary;
  font-size: 12px;
  line-height: 16px;
  color: $secondary-color-text;

  &::after {
    content: "";
    background-color: #ebebeb;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 1px;
    left: calc(50% - 50vw);
  }

  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
    font-size: $font-size-s;
    line-height: 20px;

    &::after {
      display: none;
    }
  }
}

.catalog__item--show-more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 49px 0 25px;
  width: 100%;
  background-color: transparent;

  &::before {
    content: "";
    background-color: #ebebeb;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 1px;
    left: calc(50% - 50vw);
  }

  @media (min-width: $tablet-width) {
    padding: 50px 33px 40px;
    margin-top: 76px;
    border: 2px solid $basic-grey;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 68px;
  }
}

.catalog__item-title {
  text-decoration: none;
  margin: 0;
  margin-bottom: -1px;

  &::before {
    content: "";
    display: block;
    top: -23px;
    left: 0;
    right: 0;
    height: 30px;
    background-image: url("../../icons/plus.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      top: -50px;
      left: 94px;
    }

    @media (min-width: $desktop-width) {
      top: -41px;
      left: 57px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
    padding-top: 48px;
  }
}

.catalog__item-link {
  color: $catalog-item-text;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.catalog__item-text {
  margin: 0;
  margin-bottom: 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    line-height: 18px;
    margin-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 89px;
  }
}

.catalog__button {
  width: 100%;
}
