.contacts__slogan {
  font-family: $font-secondary;
  font-size: $font-size-s;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-size: $font-size-xs;
  line-height: 20px;
  color: $secondary-color-text;
}
