.contacts {
  &--grey {
    background-color: $basic-grey;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__wrapper {
  display: flex;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 59px 70px;
  }

  @media (min-width: $desktop-width) {
    background-color: $tertiary-color-text;
    width: 565px;
    padding: 59px 78px 58px;
    position: absolute;
    top: 97px;
    left: 110px;
  }
}

.contacts__slogan {
  margin: 0;
  max-width: 140px;
  color: $catalog-item-text;

  @media (min-width: $tablet-width) {
    line-height: 26px;
  }
}

.contacts__address {
  max-width: 140px;
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    min-width: 157px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__address-city {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
  }
}

.contacts__map-container {
  background-image:
    image-set(
      url("../../images/map/map-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/map/map-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/map/map-mobile@1x.png") 1x,
      url("../../images/map/map-mobile@2x.png") 2x);
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    background-image:
      image-set(
        url("../../images/map/map-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/map/map-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/map/map-tablet@1x.png") 1x,
        url("../../images/map/map-tablet@2x.png") 2x);
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../../images/map/map-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/map/map-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/map/map-desktop@1x.png") 1x,
        url("../../images/map/map-desktop@2x.png") 2x);
    width: 100%;
    height: 400px;
  }
}

.contacts__map-container iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
}

.contacts__map-img {
  display: block;
}
