.inner-heading__title {
  margin: 28px 0 39px;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 41px 0 87px;
  }

  @media (min-width: $desktop-width) {
    margin: 19px 0 87px;
  }
}
