.main-footer {
  background-color: $basic-grey;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 41px 20px;

  @media (min-width: $tablet-width) {
    padding: 56px 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 30px;
    margin: 0 auto;
  }
}

.main-footer__logo {
  width: 128px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__social {
  border-top: 1px solid $special-grey_2;
  border-bottom: 1px solid $special-grey_2;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
