.navigation__list {
  font-family: $font-secondary;
  list-style-type: none;
}

.navigation__link {
  font-size: 20px;
  line-height: 20px;
  color: $base-color-text;
  text-transform: uppercase;
  text-decoration: none;
}
