.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation__toggle {
  padding: 0;
  margin: 0;
  display: block;
  background-color: $tertiary-color-text;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 14px;
  width: 26px;
  height: 24px;

  &--opened {
    top: 7px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__list {
  @include reset-list;
  font-family: $font-secondary;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px 34px;
  }

  @media (min-width: $desktop-width) {
    max-width: 520px;
    z-index: 1;
  }
}

.navigation__list--accent-color .navigation__link {
  @media (min-width: $desktop-width) {
    color: $tertiary-color-text;
  }
}

.navigation__item {
  @media (min-width: $tablet-width) {
    border: none;

    &:last-child {
      border: none;
    }
  }
}

.navigation__link {
  font-size: 20px;
  line-height: 20px;
  color: $base-color-text;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    padding: 13px 1px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 17px 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__link--current {
  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 5px;
      left: 0;
      right: 0;
      background-color: $bg-green;
    }
  }
}

.navigation__list--accent-color .navigation__link--current::after {
  @media (min-width: $desktop-width) {
    background-color: $tertiary-color-text;
  }
}

// меню открыто на мобильном устройстве

@media (max-width: $mobile-width-only) {
  .navigation {
    width: 100%;

    &--opened {
      .navigation__list {
        position: absolute;
        background-color: $tertiary-color-text;
        width: 100%;
        right: 0;
        z-index: 10;
        top: 65px;
      }
    }

    &--nojs {
      .navigation__list {
        position: unset;
      }
    }
  }

  .navigation--closed .navigation__item {
    display: none;
  }

  .navigation--opened .navigation__link {
    display: block;
    padding: 22px 20px 23px;
    text-align: center;
  }

  .navigation--opened .navigation__item {
    border-top: 1px solid $special-grey_6;
  }

  .navigation--opened .navigation__item:last-child {
    border-bottom: 1px solid $special-grey_6;
  }

  .navigation--opened .navigation__toggle {
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("../../icons/stack.svg#navigation__toggle-close");
      background-repeat: no-repeat;
      background-color: transparent;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

// меню закрыто на мобильном устройстве

.navigation--closed .navigation__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.navigation--closed .navigation__toggle {
  content: "";
  display: block;
  top: 20px;
  right: 20px;
  width: 27px;
  height: 24px;
  background-image: url("../../icons/stack.svg#navigation__toggle-open");
  background-repeat: no-repeat;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
