.second-title {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: $font-size-m;
  line-height: 24px;
  color: $base-color-text;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}
