.subscribe {
  font-family: $font-secondary;
  font-weight: 400;
  line-height: 24px;
  color: $base-color-text;
}

.subscribe__wrapper {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding: 0 69px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 102px;
    padding: 0 30px;
  }
}

.subscribe__title {
  margin: 0;
  margin-bottom: 32px;
  position: relative;
  width: fit-content;
  background-color: $tertiary-color-text;
  box-shadow: -40px 0 0 0 $tertiary-color-text, 40px 0 0 0 $tertiary-color-text;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.subscribe__text {
  font-size: $font-size-s;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    font-size: $font-size-m;
    line-height: 32px;
  }
}

.subscribe__form {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.subscribe-button {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 256px;
  }
}
